.nopost > p{
    background-color: rgba(226,226,226);
    width: 300px;
    text-align: center;
    margin-left: 130px;
    padding: 10px;
    border-radius: 50px;


}

.nopost > hr{
color:
rgba(226,226,226);
}